<h1> The  True/False Game</h1>


<div class="Q1">
  <h2> Sonny is a producer</h2>
<button type="button" onclick="alert(' Correct I am a producer!')">true</button>
<button type="button" onclick="alert(' Almost, I am a producer!')">false</button>
</div>
<div class="Q2">
  <h2> Sonny knows how to play Piano</h2>
<button type="button" onclick="alert(' Correct! Very Beginner, sadly ')">true</button>
<button type="button" onclick="alert(' Very Bignner Stuff (True)')">false</button>
</div>
<div class="Q1">
  <h2> Sonny loves  the Genre "Lofi"</h2>
<button type="button" onclick="alert(' Correct! I Make it too ! ')">true</button>
<button type="button" onclick="alert(' Almost, I love Lofi as well as other stuff')">false</button>
</div>
<div class="Q2">
  <h2>Sonny is a Math Junkie</h2>
  <button type="button" onclick="alert(' Incorrect! I hate math.')">true</button>
  <button type="button" onclick="alert(' Correct! not a fan of regular knowledge')">false</button>
</div>
<div class="Q1">
  <h2>Sonny is older than 15</h2>
  <button type="button" onclick="alert(' Incorrect! I turn 16 in April ')">true</button>
  <button type="button" onclick="alert(' Correct, although sometimes it's hard to tell')">false</button>
</div>
